<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>戒赌</key>
	<string>抽到此签说明你厄运降临，劝你还是戒毒把。这不仅是今日气运，直接体现在你的人生就是不好的。当然还要取决你的努力程度。抽到此签，不论是今天还是以后都要好好工作，多做善事，诚实待人，行善积德，会扭转运势。</string>
	<key>下下</key>
	<string>看你今日运气相当不好啊，抽到此签，可谓今日赌运极差，所以今日务必戒毒，不管拿什么理由都好，一定要拒绝，坚决不赌，抽到此签者，要注意防范小人，尤其在人际关系上，勿因琐碎之事而得罪小人，容易招小人。虽然运势不佳，但不必灰心丧气反而应当加倍努力，加倍认真做事，财神总是卷帘努力奋斗者，只要努力相信你的好运即将到来。</string>
	<key>下</key>
	<string>抽到此签，表明你今日手手气很差，者不仅仅在赌运上，还表现在待人处事上，今日行事必须谨慎，尤其是在比较重大的抉择之前，更要三思而后行。至于输赢，还要结合你的赌技。万全之策就是避免跟人家赌，若推脱不了必须要玩的话，首先不要带太多的现金在身，输光也可接机溜走，千万别借钱继续赌。其次心里千万别念叨着赢钱，反之应该念叨着只要能不输光身上的钱则视为赢钱了，意在不输不在赢。能做到这两点或许能保你不输，如果你赌技惊人也可逆转运势赢一下小钱。</string>
	<key>中下</key>
	<string>今日赌运比较差，不可主动邀人，被邀请的话也要推脱几分，推不了的情况下，记住今日只能小赌，所谓“小赌怡情，大赌伤身”，根据今日的运势看，今日只能小赌才能有可能扳回些好运，才有可能小赢一把，纵使不赢，也输不多，权当请你的赌友们吃了顿饭。此外，在工作或者学业上，要注意劳逸结合，在生活方面要多锻炼身体，这样子才能把好运再次招来。</string>
	<key>中</key>
	<string>今日手气一般，此为中等签，你今日运势算不上好但也不坏，运势平平，可以小赌，但不保证必赢，你需要拥有一颗不以赢钱为目的的心态去玩，不可一味的想着这把能赢多少钱，下一把又能赢多少钱，也不要惦念着要把输去的签赢回来方才罢休。无论如何，今日赌博心态一定要好，把心态摆正，是你今天要做的最有必要的事。此外，要提升你的运势，可在日常生活中多多积善，乐于助人。善，能运生，积少成多，总有一天你会看到积来的善给你带来了多大的好处。</string>
	<key>中上</key>
	<string>你今日手气不错，此为中上等签，虽不能说今日能十赌九赢，但最起码赢钱的概念甚大。但要注意，抽到此签者，最好不要邀请别人来玩，若是能被应邀去将最佳，保准能赢大钱！此外，今日要选好财位，背对大窗户就是背后是空的是漏空，容易将财漏走，背后要靠墙，靠墙就是有靠，有靠财则稳进不漏。祝赢钱愉快。</string>
	<key>上</key>
	<string>今日手气相当不错，此签很难抽到。你今日抽到说明你大可放心的去赌，能赢钱，赢钱的概率占80%，如果你是赌坛老手，赢钱的概率会更加提高，但是也要取决你的心态，即使手气再好，也不能抱着必赢的心态去打麻将，这样的心态会冲走你的运势，切记，今日你的三把火会很旺，别被人拍了左右肩膀和头，会影响你的运势，最后祝赢钱愉快。</string>
	<key>上上</key>
	<string>今日你的运气势不可挡！！！抽到此签说明你气运十足，最好主动邀人玩。这种好气运不止体现在赌上，也会体现在生活，工作上。总之就是三个字：旺旺旺！！！！</string>
</dict>
</plist>
