<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>frames</key><dict><key>png/vehicle01_body.png</key><dict><key>width</key><integer>50</integer><key>height</key><integer>27</integer><key>originalWidth</key><integer>50</integer><key>originalHeight</key><integer>27</integer><key>x</key><integer>0</integer><key>y</key><integer>0</integer><key>offsetX</key><integer>0</integer><key>offsetY</key><integer>0</integer></dict></dict><key>metadata</key><dict><key>format</key><integer>0</integer><key>textureFileName</key><string>VehicleArmature010.png</string><key>realTextureFileName</key><string>VehicleArmature010.png</string><key>size</key><string>{512,512}</string></dict><key>texture</key><dict><key>width</key><integer>512</integer><key>height</key><integer>512</integer></dict></dict></plist>